# Python / Django
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.sqlite3
backend/staticfiles/

# Variables de entorno
backend/.env

# Logs
*.log

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini